html, body{
		font-family: 'Bitter', Arial, 'Georgia', Times, Times New Roman, serif !important;
		overflow-x: hidden;
		height: 100%;
		margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
    margin: 0 auto -50px;
}

.navbar-brand{
	font-size: 36px;
}

#tarciso{
	border: 1px solid #ebebeb;
}
ul{
	font-size: 20px;
}

.panel{
	padding: 0 20px 20px 20px;

}
.page-header{
	border-bottom: 3px solid #777 !important;
}

.bounce{
	text-decoration: none;
	color: rgb(255,255,255);
	border: 3px solid;
}
.bounce:hover{
	border: .5px;
}

.portfolio-image{	
		
	}
	#relative{
		position: relative;
	}

	#absolute{
		text-align: center;
		font-size: 24px;
		padding: 10px 0;
		position: absolute;
		bottom: 20px;	
		width: 100%;
		color: #ebebeb;
		background-color: #169e9e;
	}






.navbar-inverse{
	border-top: 2px solid rgb(220,20,60) !important;
}
.footer, 
.push{

	color: 	rgb(169,169,169) !important;
	padding-top: 30px !important;
	height: 50px;
}




@media only screen and ( max-width: 764px){
	.panel{
		margin-left: 20px;
	}
	.navbar-brand{
		text-align: center;
	}
	h3{
		text-align: left !important;
	}
}

@media only screen and ( max-width: 400px){
	.panel{
		margin-left: 20px;
	}
	h3 .header3{
		text-align: left;
	}
}